<form method="post" action="{{ path('app_panier_delete', {'idClient': panier.idClient}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panier.idClient) }}">
    <button class="btn">Delete</button>
</form>
