<form method="post" action="{{ path('app_event_delete', {'idevenement': evenement.idevenement}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.idevenement) }}">
    <button class="btn">Delete</button>
</form>
